body {
  background: linear-gradient(to right, #E8CBC0, #636FA4);
}

.App {
  text-align: center;
  padding: 10px;
}

.App-logo {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
}

.App-header h1 {
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
  color: rgb(92, 51, 252);
}

.main {
  border: 1px solid white;
  border-radius: 20px;
  width: 450px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}

.input {
  width: 310px;
  padding: 13px 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 0px;
  outline: 0px;
  font-size: 16px;
}

.add-Button {
  background-color: rgb(92, 51, 252);
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 0px;
  padding: 13px 20px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.add-Button:hover {
  background-color: rgb(52, 11, 235);
}

.show-Button {
  background-color: rgb(92, 51, 252);
  color: white;
  border-radius: 8px;
  border: 0px;
  padding: 10px 15px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 40px;
}

.show-Button:hover {
  background-color: rgb(52, 11, 235);
}

.complte-button {
  background-color: white;
  color: black;
  border: 0px;
  padding: 10px 10px;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.complte-button:hover{
  background-color: #c3d0f5;
  color: blue;
  border-radius: 8px;
}

.todolist {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 10px;
  height: 25px;
  margin: auto;
  margin-top: 8px;
  align-items: center;
}

.todolist p {
  font-size: 17px;
}